.dex-btn {
    background-color: #28b318;
    color: white;
    border-radius: 0%;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 1.5em;
}

.dex-btn:hover {
    background-color: #218830;
}